@import "./utils/index";
// components
@import "./components/index";

// layout
body {
  background-color: $gray-light;
  display: flex;
  font-family: "Roboto";
  flex-direction: column;
  height: 97vh;

  .header,
  .footer,
  .content {
    @include horizontalPaddings;
  }

  .content {
    flex: 1 0 auto;
  }
}
